@import "./utils/vars";
@import "./components/logo";
@import "./components/navigation";
@import "./components/article";
@import "./components/section-one";
@import "./components/section-two";
@import "./components/section-three";
@import "./components/section-four";
@import "./components/section-five";
@import "./components/footer";
@import "./components/backdrop";
@import "./components/post-article";
@import "./components/post-section";
@import "./components/mobile-menu";



body {
    font-family: 'Roboto', sans-serif;
    color: $main-color;
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0px;
    height: 100%;
}
.main-header {
    border-bottom: 1px solid $header-color;
}
.section-one {
    padding-top: 94px;
    padding-bottom: 30px;
    // width: 1600px;
    // margin: 0 auto;
}
.section-two,
.section-three,
.section-five {
    padding-top: 0px;
    padding-bottom: 94px;
    // width: 1600px;
    // margin: 0 auto;
}
.section-four {
    background-color: $section-color;
    // width: 1600px;
    // margin: 0 auto;
    background-position: center center;
    padding-top: 94px;
    padding-bottom: 94px;
}
.post-section {
    padding-top: 94px;
    padding-bottom: 94px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 480px;
        margin: 0 auto;
        padding: 0px;
        height: 100%;
    }

    .section-four {
        background-color: $section-color;
        width: 480px;
        margin: 0 auto;
        background-position: center center;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .section-one {
        padding-top: 60px;
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        width: 768px;
        margin: 0 auto;
        padding: 0px;
        height: 100%;
    }

    .section-four {
        background-color: $section-color;
        width: 768px;
        margin: 0 auto;
        background-position: center center;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}