.main-footer {
    background-color: $mainFooter-color;
    width: 1600px;
    margin: 0 auto;
    padding: 0px;
    background-position: center center;
    display: flex;
}
.main-footer__contacts {
    display: inline-block;
    padding: 0px;

    &:first-child {
        margin-top: 60px;
        margin-right: 70px;
        margin-bottom: 60px;
    }

    &:last-child {
        margin-top: 72px;
        margin-left: 78px;
    }
}
.main-footer__item-address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 20px;
    margin-bottom: 60px;
    color: $title-color;
}
.main-footer__item-tel {
    color: rgba(109, 101, 101, 0.6);
}
.main-footer__item-mail {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-right: 50px;
    padding: 0px;
    text-align: center;
    color: $primary-color;

    &:hover,
    &:focus,
    &:active {
        color: $brand-color;
        transition: $main-transition;
    }
}
.main-footer__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-color;
    padding: 0px;
    margin-bottom: 20px;
}
.main-footer__social-items {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 0%;
}
.main-footer__social-background {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus,
    &:active {
        background-color: $brand-color;
        transition: $main-transition;
    }

    &:nth-child(-n+3) {
        margin-right: 10px;
    }
}
.main-footer__social-item {
    width: 20px;
    height: 20px;
    fill: $sectionBackground-color;
    cursor: pointer;
    text-align: justify;
    padding: 0px;
    margin: 0 auto;

    &:hover,
    &:focus,
    &:active {
        fill: $title-color;
        transition: $main-transition;
    }
}
.main-footer__form-title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-color;
    margin-bottom: 20px;
}
.main-footer__form-data {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $mainFooter-color;
    padding-left: 16px;
}
.main-footer__form-button {
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $title-color;
    background: $brand-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 76px 10px 42px;
    margin-left: 12px;
}
.main-footer__icon-send {
    width: 24px;
    height: 24px;
    position: relative;
    left: 148px;
    top: 7px;
    fill: $title-color;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .main-footer {
        background-color: $mainFooter-color;
        width: 480px;
        height: 500px;
        // margin: 0 auto;
        padding: 0px;
        background-position: center center;
        display: block;
    }
    .main-footer__contacts {
        display: inline;
        padding: 0px;
        // margin: 60px 137px 0px 137px;
    
        // &:first-child {
        //     margin-top: 60px;
        //     margin-right: 70px;
        //     margin-bottom: 60px;
        // }
    
        // &:last-child {
        //     margin-top: 72px;
        //     margin-left: 78px;
        // }
    }
    .main-footer__item-address {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        // margin-top: 20px;
        // margin-bottom: 60px;
        margin: 20px 114px 0px 115px;
        color: $title-color;
    }
    .main-footer__item-tel {
        color: rgba(109, 101, 101, 0.6);
    }
    .main-footer__item-mail {
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        // padding-right: 50px;
        // padding: 0px;
        margin: 0 auto;
        text-align: center;
        color: $primary-color;
    
        &:hover,
        &:focus,
        &:active {
            color: $brand-color;
            transition: $main-transition;
        }
    }
    .main-footer__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $title-color;
        padding: 0px;
        // margin-bottom: 20px;
        margin: 10px 167px 20px 167px;
    }
    .main-footer__social-items {
        display: flex;
        list-style: none;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        padding: 0%;
        margin: 20px 137px 10px 137px;
    }
    .main-footer__social-background {
        height: 44px;
        width: 44px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.1);
    
        &:hover,
        &:focus,
        &:active {
            background-color: $brand-color;
            transition: $main-transition;
        }
    
        &:nth-child(-n+3) {
            margin-right: 10px;
        }
    }
    .main-footer__social-item {
        width: 20px;
        height: 20px;
        fill: $sectionBackground-color;
        cursor: pointer;
        text-align: justify;
        padding: 0px;
        margin: 0 auto;
    
        &:hover,
        &:focus,
        &:active {
            fill: $title-color;
            transition: $main-transition;
        }
    }
    .main-footer__form-title {
        display: inline;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $title-color;
        // margin-bottom: 20px;
        margin: -50px 136px 20px 137px;
    }
    .main-footer__form-data {
        width: 450px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: $mainFooter-color;
        // padding-left: 16px;
        margin: 20px 15px 20px 15px;
    }
    .main-footer__form-button {
        position: absolute;
        // width: 82px;
        // height: 30px;
        // left: 182px;
        // top: 5357px;

        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: $title-color;
        background: $brand-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        padding: 10px 76px 10px 42px;
        // margin: 20px 140px 60px 140px;
        margin: 20px 140px 60px 140px;
        display: block;
    }
    .main-footer__icon-send {
        width: 24px;
        height: 24px;
        position: relative;
        left: 290px;
        top: 35px;
        fill: $title-color;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .main-footer {
        background-color: $mainFooter-color;
        width: 768px;
        margin: 0 auto;
        padding: 0px;
        background-position: center center;
        display: flex;
        flex-wrap: wrap;
    }
    .main-footer__contacts {
        display: inline-block;
        padding: 0px;
        // margin: 65px 89px 102px 144px;
    
        // &:first-child {
        //     margin-top: 60px;
        //     margin-right: 70px;
        //     margin-bottom: 60px;
        // }
    
        // &:last-child {
        //     margin-top: 72px;
        //     margin-left: 78px;
        // }
    }
    .main-footer__item-address {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        margin: 20px 144px 60px 76px;
        color: $title-color;
    }
    .main-footer__item-tel {
        color: rgba(109, 101, 101, 0.6);
    }
    .main-footer__item-mail {
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        // padding-right: 50px;
        padding: 0px;
        text-align: center;
        color: $primary-color;
    
        &:hover,
        &:focus,
        &:active {
            color: $brand-color;
            transition: $main-transition;
        }
    }
    .main-footer__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $title-color;
        padding: 0px;
        margin: 0 auto;
    }
    .main-footer__social-items {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 0%;
    }
    .main-footer__social-background {
        height: 44px;
        width: 44px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.1);
    
        &:hover,
        &:focus,
        &:active {
            background-color: $brand-color;
            transition: $main-transition;
        }
    
        &:nth-child(-n+3) {
            margin-right: 10px;
        }
    }
    .main-footer__social-item {
        width: 20px;
        height: 20px;
        fill: $sectionBackground-color;
        cursor: pointer;
        text-align: justify;
        padding: 0px;
        margin: 0 auto;
    
        &:hover,
        &:focus,
        &:active {
            fill: $title-color;
            transition: $main-transition;
        }
    }
    .main-footer__form-title {
        display: block;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $title-color;
        // margin: 60px 273px 20px 288px;
        margin-top: -200px;
        margin-left: 200px;
    }
    .main-footer__form-data {
        width: 450px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: $mainFooter-color;
        padding-left: 16px;
        margin-left: 80px;
    }
    .main-footer__form-button {
        // position: absolute;
        // width: 82px;
        // height: 30px;
        // left: 182px;
        // top: 5357px;

        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: $title-color;
        background: $brand-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        padding: 10px 76px 10px 42px;
        margin-top: 20px;
        margin-left: 200px;
        display: block;
    }
    .main-footer__icon-send {
        width: 24px;
        height: 24px;
        position: relative;
        left: -190px;
        top: 75px;
        fill: $title-color;
    }
}