.main-footer {
    background-color: $mainFooter-color;
    // width: 1600px;
    // margin: 0 auto;
    padding: 0px;
    background-position: center center;
    display: flex;
}
.main-footer__contacts {
    display: inline-block;
    padding: 0px;
    margin-top: 60px;
    margin-bottom: 60px;

    // &:first-child {
    //     margin-top: 60px;
    //     margin-right: 70px;
    //     margin-bottom: 60px;
    // }

    // &:last-child {
    //     margin-top: 72px;
    //     margin-left: 78px;
    // }
}
.main-footer__contacts-social {
    display: inline-block;
    padding: 0px;
    margin-left: 64px;
    // margin-top: 72px;
    // margin-bottom: 100px;
    position: relative;
    // width: 206px;
    // height: 80px;
    // left: 10px;
    top: -50px;

}
.main-footer__contacts-form {
    display: inline-block;
    padding: 0px;
    margin-left: 64px;
    // margin-top: 72px;
    position: relative;
    // width: 570px;
    // height: 86px;
    // left: 815px;
    top: -50px;
}
.main-footer__item-address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 20px;
    margin-bottom: 0px;
    color: $title-color;
}
.main-footer__item-tel {
    font-family: 'Roboto';
    font-style: normal;
    display: block;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 9px;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    &:hover,
    &:focus,
    &:active {
        color: $brand-color;
        transition: $main-transition;
    }
}
.main-footer__item-mail {
    font-family: 'Roboto';
    font-style: normal;
    display: block;
    text-align: left;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-right: 50px;
    padding: 0px;
    margin-top: 9px;
    color: rgba(255, 255, 255, 0.6);

    &:hover,
    &:focus,
    &:active {
        color: $brand-color;
        transition: $main-transition;
    }
}
.main-footer__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-color;
    padding: 0px;
    margin-bottom: 20px;
}
.main-footer__social-items {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 0%;
}
.main-footer__social-background {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus,
    &:active {
        background-color: $brand-color;
        transition: $main-transition;
    }

    &:nth-child(-n+3) {
        margin-right: 10px;
    }
}
.main-footer__social-item {
    width: 20px;
    height: 20px;
    fill: $sectionBackground-color;
    cursor: pointer;
    text-align: justify;
    padding: 0px;
    margin: 0 auto;

    &:hover,
    &:focus,
    &:active {
        fill: $title-color;
        transition: $main-transition;
    }
}
.main-footer__form-title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-color;
    margin-bottom: 20px;
}
.main-footer__form-data {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $mainFooter-color;
    padding-left: 16px;
}
.main-footer__form-button {
    // display: flex;
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $title-color;
    background: $brand-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 76px 10px 41px;
    margin-left: 12px;
    width: 200px;
    height: 50px;
}
.main-footer__icon-send {
    width: 24px;
    height: 24px;
    position: relative;
    left: 156px;
    top: 7px;
    fill: $title-color;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .main-footer {
        background-color: $mainFooter-color;
        width: 480px;
        height: 603px;
        margin: 0 auto;
        // padding: 0px;
        background-position: center center;
        // display: flex;
        // justify-content: center;
        // align-items: center;
    }
    .main-footer__contacts {
    //     // display: flex;
        padding: 0px;
        margin: 0 auto;
        width: 480px;
    //     // justify-content: center;
    //     // align-items: center;
    //     // margin: 60px 137px 0px 137px;
    
            // &:first-child {
            //     margin-top: 0px;
            //     margin-right: 0px;
            //     margin-bottom: 0px;
            // }
    
            // &:last-child {
            //     margin-top: 0px;
            //     margin-left: 0px;
            // }
    }

    .main-footer__contacts-social {
        display: inline-block;
        padding: 0px;
        margin: 0 auto;
        // margin-left: 64px;
        // margin-top: 72px;
        // margin-bottom: 100px;
        // position: relative;
        width: 480px;
        // height: 80px;
        // left: 10px;
        // top: -50px;
    
    }
    .main-footer__contacts-form {
        display: inline-block;
        padding: 0px;
        margin: 0 auto;
        // margin-left: 64px;
        // margin-top: 72px;
        // position: relative;
        width: 480px;
        // height: 86px;
        // left: 815px;
        // top: -50px;
    }
    .main-footer__item-address {
        display: inline-block;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        margin: 0 auto;
        align-items: center;
        // margin-top: 20px;
        // margin-bottom: 60px;
        text-align: center;
        margin: 20px 114px 0px 115px;
        // padding-bottom: 8px;
        color: $title-color;
        // background-color: rgb(151, 129, 3);
    }
    .main-footer__item-tel {
        font-family: 'Roboto';
        font-style: normal;
        display: block;
        text-align: center;
        color: rgba(255, 255, 255, 0.6);
        margin-top: 8px;
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        &:hover,
        &:focus,
        &:active {
            color: $brand-color;
            transition: $main-transition;
        }
    }
    .main-footer__item-mail {
        font-family: 'Roboto';
        font-style: normal;
        display: block;
        text-align: center;
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        padding-right: 50px;
        padding: 0px;
        margin-top: 8px;
        color: rgba(255, 255, 255, 0.6);
    
        &:hover,
        &:focus,
        &:active {
            color: $brand-color;
            transition: $main-transition;
        }
    }
    .main-footer__title {
        // display: inline-block;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $title-color;
        text-align: center;
        // padding: 0px;
        margin: 0 auto;
        margin-top: 110px;
        // align-items: center;
        // margin-bottom: 20px;
        // margin: 60px 167px 20px 167px;
    }
    .main-footer__social-items {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        // padding: 0%;
        margin: 20px 137px 10px 137px;
    }
    .main-footer__social-background {
        height: 44px;
        width: 44px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.1);
    
        &:hover,
        &:focus,
        &:active {
            background-color: $brand-color;
            transition: $main-transition;
        }
    
        &:nth-child(-n+3) {
            margin-right: 10px;
        }
    }
    .main-footer__social-item {
        width: 20px;
        height: 20px;
        fill: $sectionBackground-color;
        cursor: pointer;
        text-align: justify;
        padding: 0px;
        margin: 0 auto;
    
        &:hover,
        &:focus,
        &:active {
            fill: $title-color;
            transition: $main-transition;
        }
    }
    .main-footer__form-title {
        display: block;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $title-color;
        // margin-bottom: 20px;
        margin: 60px 136px 20px 137px;
    }
    .main-footer__form-data {
        display: flex;
        width: 450px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: $mainFooter-color;
        // padding-left: 16px;
        // margin: 20px 15px 20px 15px;
        margin: 0 auto;
        justify-content: center;
    }
    .main-footer__form-button {
        position: absolute;
        // width: 82px;
        // height: 30px;
        // left: 182px;
        // top: 5357px;

        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: $title-color;
        background: $brand-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        padding: 10px 24px 10px 42px;
        margin: 20px 140px 60px 140px;
        display: flex;
        width: 200px;
    }
    .main-footer__icon-send {
        width: 24px;
        height: 24px;
        position: relative;
        left: 288px;
        top: 35px;
        fill: $title-color;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .main-footer {
        background-color: $mainFooter-color;
        width: 768px;
        height: 463px;
        margin: 0 auto;
        padding: 0px;
        background-position: center center;
        display: flex;
        flex-wrap: wrap;
    }
    .main-footer__contacts {
        display: inline-block;
        padding: 0px;
        margin: 0 auto;
        margin-top: 60px;
        // padding-top: 60px;
        // margin: 65px 89px 102px 144px;
    
        //  &:first-child {
        //       margin-top: 0px;
        //       margin-right: 0px;
        //       margin-bottom: 0px;
        //   }
    
        //   &:last-child {
        //       margin-top: 0px;
        //       margin-left: 0px;
        //   }
    }

    .main-footer__contacts-social {
        display: inline-block;
        padding: 0px;
        margin: 0 auto;
        // margin-top: 115px;
        // margin-left: 64px;
        // margin-top: 72px;
        // margin-bottom: 100px;
        position: relative;
        // width: 480px;
        // height: 80px;
        // left: 10px;
        top: -55px;
    
    }
    .main-footer__contacts-form {
        display: inline-block;
        padding: 0px;
        margin: 0 auto;
        margin-top: 90px;
        // margin-left: 64px;
        // margin-top: 72px;
        // position: relative;
        // width: 480px;
        // height: 86px;
        // left: 815px;
        // top: -50px;
    }
    .main-footer__item-address {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        margin: 20px 144px 0px 61px;
        color: $title-color;
        width: 253px;
    }
    .main-footer__item-tel {
        color: rgba(255, 255, 255, 0.6);
        margin-left: 61px;
        width: 232px;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }
    .main-footer__item-mail {
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        // padding-right: 50px;
        padding: 0px;
        margin-left: 61px;
        width: 232px;
        text-align: center;
        color: rgba(255, 255, 255, 0.6);
    
        &:hover,
        &:focus,
        &:active {
            color: $brand-color;
            transition: $main-transition;
        }
    }
    .main-footer__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $title-color;
        padding: 0px;
        margin: 0 auto;
        margin-left: 45px;
    }
    .main-footer__social-items {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 0%;
    }
    .main-footer__social-background {
        height: 44px;
        width: 44px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.1);
    
        &:hover,
        &:focus,
        &:active {
            background-color: $brand-color;
            transition: $main-transition;
        }
    
        &:nth-child(-n+3) {
            margin-right: 10px;
        }
    }
    .main-footer__social-item {
        width: 20px;
        height: 20px;
        fill: $sectionBackground-color;
        cursor: pointer;
        text-align: justify;
        padding: 0px;
        margin: 0 auto;
    
        &:hover,
        &:focus,
        &:active {
            fill: $title-color;
            transition: $main-transition;
        }
    }
    .main-footer__form-title {
        display: block;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $title-color;
        // padding-top: 60px;
        // margin: 60px 273px 20px 288px;
        // margin-top: -200px;
        margin-left: 288px;
    }
    .main-footer__form-data {
        width: 450px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: $mainFooter-color;
        padding-left: 16px;
        margin-left: 166px;
    }
    .main-footer__form-button {
        // position: absolute;
        // width: 82px;
        // height: 30px;
        // left: 182px;
        // top: 5357px;

        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: $title-color;
        background: $brand-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        padding: 10px 76px 10px 41px;
        margin-top: 20px;
        margin-left: 291px;
        display: block;
        width: 200px;
        height: 50px;
    }
    .main-footer__icon-send {
        width: 24px;
        height: 24px;
        position: relative;
        left: -190px;
        top: 75px;
        fill: $title-color;
    }
}