.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $logo-color;

    &__footer {
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: $title-color;
    }

    &__item {
    color: $brand-color;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .logo {
        display: block;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: $logo-color;
        margin-left: 15px;
    
        &__footer {
            display: block;
            text-decoration: none;
            font-family: 'Raleway', sans-serif;
            font-size: 24px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            color: $title-color;
            margin: 60px 163px 0px 163px;
            text-align: center;
            // padding: 0px;
            // padding-top: 60px;
            // border: 1px red;
            // background-color: teal;
        }
    
        &__item {
        color: $brand-color;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .logo {
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: $logo-color;
        // margin-left: 15px;
    
        &__footer {
            text-decoration: none;
            font-family: 'Raleway', sans-serif;
            font-size: 24px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            color: $title-color;
            margin: 0px 204px 20px 107px;
        }
    
        &__item {
        color: $brand-color;
        }
    }
}
